@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * { -webkit-tap-highlight-color: transparent; }
  [data-dnd-draggable] { touch-action: none; }
  .overflow-x-auto { -webkit-overflow-scrolling: touch; }
}
